@import '_mixins.scss';
@import '_fonts.scss';

@import 'combined-countries-graph.scss';
@import 'home.scss';
@import 'about.scss';

html {
  background-color: rgba(0,0,0,0.8);
  font-family: $serif;

  h1, h2, h3, h4, h5, h6 {
    font-family: $sans;
    font-weight: 700;
  }

  body {
    color: #fafafa;
  }

  input {
    background-color: rgba(255,255,255,0.1);
    color: #fafafa;
    border-radius: 3px;
    padding: 8px;
    box-sizing: border-box;
  }

  h4 {
    font-size: 14px;
  }

  p, a, div {
    font-size: 12px;
    color: #fafafa;
  }

  .layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    header {
      text-align: center;
      background-color: #ffffff15;
      border-bottom: 1px solid black;
      padding: 1rem 0;

      a {
        text-decoration: none;

        .header-title {
          font-size: 24px;
        }
  
        .subtitle {
          margin: 0 0 4px 0;
          font-style: italic;
        }
      }
    }
  
    footer {
      text-align: center;
      background-color: #ffffff15;
      border-top: 1px solid black;
      padding: 1rem 0;
      display: flex;
      flex-direction: row;
      justify-content: center;

      span {
        margin: 0 1rem;
      }
    }

    main {
      width: 100%;
      max-width: 1400px;
      margin: 0 auto;
    }
  }
}